@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("atlayofke5rqhsma.onion"), domain("atlayo.com") {
  body {
    background-color: #444444 !important;
  }
  
  .navbar-default {
    background-color: #0f0f0f;
  }
  
  .panel-white {
    border: none;
  }
  
  .post .post-file,
  .list-group,
  .panel-white {
    background-color: #555;
    box-shadow: none;
  }
  
  .list-group-item {
    background-color: transparent;
    color: #e0e0e0;
  }
  
  .list-group-item ~ .avtive,
  .list-group-item:hover {
    background-color: black;
  }
  
  a,
  .post .post-description p {
    color: #e0e0e0;
  }
  
  .post .post-heading .meta .title a {
    color: white;
  }
  
  .list-group-item:first-child {
    background-color: #333;
    color: white;
  }
}